html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 820px;
    overflow: hidden;
}

/* header settings */

header {
    height: 63px;
    background-color: #323232;
}

header::after {
	content: "";
	left: calc(50% - 45px);
    position: absolute;
    top: 63px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 45px 0 45px;
    border-color: #323232 #ffffff #ffffff;

}

h1 {
    position: fixed;
    left: -9999px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

nav li {
    width: 5.625em;
    text-align: center;
    padding-top: 8px;  
}

nav a {
    font-family: "Lato";
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.6em;
    color: #ffffff;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #2eb398;
}

.logo{
    fill:none;
    stroke:#FFFFFF;
    stroke-miterlimit:10;
}

/* main  settings */

:root {
    --hex: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    --boxWidth: 203px;
}

figure:not(.figure-logo) {
    position: relative;
	background: #000;
    -webkit-clip-path: var(--hex);
            clip-path: var(--hex);
    display: inline-block;
    width: 182px;
    height: 209px;
    margin: 0;
}

img {
	-webkit-transition: all .5s;
	transition: all .5s;
}

h2,
h3 {
    font-family: "MavenPro", sans-serif;
}

h2 {
    font-size: 2.5em;
    color: #d7ffe9
}

h3 {
    font-size: 1.5em;
}

p {
    text-align: justify;
    font-size: 0.8em;
    line-height: 2em;
}

/* portfolio settings */ 

#portfolio .container {
    max-width: calc(var(--boxWidth) * 5);
    margin: 11px auto;
    padding: 0;
    border-top: 1px solid #e4e9eb;
    border-bottom: 1px solid #e4e9eb;
}

#portfolio .portfolio-content {
    margin: 22vh 0 21vh; 
}

#portfolio figure {
    display: inline-block;
    margin: -30px 9px;
}

#portfolio img {
	-webkit-transition: all .5s;
	transition: all .5s;
}

#portfolio img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
}

#portfolio figure:first-child,
#portfolio figure:nth-child(10) {
    margin-left: 110px;
}

#portfolio .slider-dots {
    margin-bottom: 11px;
}

#portfolio span {
    font-size: 0.4em;
    color: #ddd2c5;
}

#portfolio span:hover {
    color: #8b8784;
}

/* about settings */

#about {
    background-color: #2eb398;
    padding: 13px 0 12px;
}

#about .container {
    border-left: 1px solid #219d84;
    border-right: 1px solid #219d84;
}

#about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 55px 0;
}

#about figure {
    margin-right: 20px;
}
#about img {
    margin-left: -120px;
}

#about .about-information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#about .about-information-social {
    -ms-flex-item-align: end;
        align-self: end;
    width: 8.6em;
}

#about h3 {
    color: #20816d;
    margin-bottom: 19px;
}

#about p {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

#about a {
    margin: 0 -2px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: #2eb398;
}

#about a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
}

#about a:first-child {
    background-color: #a4dbd4;
}

#about a:nth-child(2) {
    background-color: #6ccbbe;
}

#about a:nth-child(3) {
    background-color: #7ed0c5;
}

#about a:nth-child(4) {
    background-color: #abddd7;
}

#about a:nth-child(5) {
    background-color: #acddd7;
}

#about a:last-child {
    background-color: #6dcbbe;
}

/* get in touch settings */ 

#get-in-touch {
    background-color: #323232;
    margin: 0;
    padding: 20px 0;
}

.get-in-touch-container {
    margin: 0 auto;
    padding: 53px 0;  
    max-width: 960px;
    border-top: 1px solid #2b2b2b;
    border-bottom: 1px solid#2b2b2b;
}

#get-in-touch h3,
#get-in-touch input,
#get-in-touch textarea {
    color: #bebebe;
}

#get-in-touch h3 {
    margin-bottom: 20px;
}

.get-in-touch-communication {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#get-in-touch form {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 580px;
            flex: 1 0 580px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#get-in-touch input,
#get-in-touch textarea {
    background-color: #454545;
    border: none;
    margin-top: 16px;
    padding: 0.75em;
}

#get-in-touch textarea {
    resize: none;
    min-height: 150px;
}

#get-in-touch input[type="submit"] {
    width: 90px;
    background-color: #2eb398;
    -ms-flex-item-align: end;
        align-self: end;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-weight: bold; 
}

#get-in-touch input[type="submit"]:hover {
    background-color: #3ec398;
}

#get-in-touch input:first-child {
    margin: 0;
}

#get-in-touch span {
    font-weight: 900;
}

#get-in-touch address {
    margin-top: 46px;
    font-size: 0.8em;
    line-height: 2em;
}

#get-in-touch address span {
    display: inline-block;
    width: 2em;
    color: #2eb398;
}

#get-in-touch address a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #bebebe;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#get-in-touch address a:hover {
    color: #2eb398;
}

/* footer settgings */

footer {
    background-color: #222222;
}

footer .container {
    max-width: 960px;
    margin: 0 auto;
}

footer p {
    font-family: "MavenPro", sans-serif;
    font-size: 0.8em;
    line-height: 3.3em;
    color: #454545;
}

/* media screens */

@media screen and (max-width: 1030px) {
    #portfolio .container {
        max-width: calc(var(--boxWidth) * 4);
    }

    #portfolio figure:nth-child(5),
    #portfolio figure:nth-child(12) {
        margin-left: 110px;
    }

    #portfolio figure:last-child {
        margin-left: 204px;
    }

    #portfolio figure:first-child,
    #portfolio figure:nth-child(10) {
        margin-left: 9px;
    } 
}

@media screen and (max-width: 800px) {
    #portfolio .container {
        max-width: calc(var(--boxWidth) * 3);
    }

    #portfolio figure:nth-child(n) {
        margin-left: 9px;
    }

    #portfolio figure:nth-child(4),
    #portfolio figure:nth-child(9) {
        margin-left: 110px;
    }
}

@media screen and (max-width: 782px) {
    .get-in-touch-communication {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    #get-in-touch form {
        -webkit-box-flex: 0;
            -ms-flex: 0 0;
                flex: 0 0;
        margin-right: 0;
    }

    #get-in-touch .description {
        margin-top: 20px;
    }
}

@media screen and (max-width: 610px) {
    #portfolio .container {
        max-width: calc(var(--boxWidth) * 2);
    }

    #portfolio figure:nth-child(n) {
        margin-left: 9px;
    }

    #portfolio figure:nth-child(3n) {
        margin-left: 110px;
    }

}

@media screen and (max-width: 540px) {
    #about .about-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media screen and (max-width: 410px) {
    #portfolio .container {
        max-width: calc(var(--boxWidth) * 1.5);
    }

    #portfolio figure:nth-child(n) {
        margin-left: 9px;
    }

    #portfolio figure:nth-child(even) {
        margin-left: 110`px;
    }


}